   <div class="row" th:insert="fragments/header">
   </div>
   <br>
   <div class="container">
   	<div class="row">
	    <div class="col-8">
	        <h1>B&uacute;squeda de Permisos activos entre fechas y Lugares</h1>
	    </div>
    <hr>
	</div>
	<div class="row p-2">
		<form method="get" action="/busqueda_permisos/activos_entre_fechas_y_lugares"  role="form" autocomplete="off">
			<div class="input-group">
			<span class="input-group-text">Desde</span>
			<input type="date" class="form-control" th:value="${(param.desde != null)} ? ${param.desde}" name="desde" id="desde" required placeholder="desde" />
			 <span class="input-group-text" style="border-left: 0; border-right: 0;">Hasta</span>
			<input type="date"  class="form-control" th:value="${(param.desde != null)} ? ${param.hasta}" name="hasta" id="hasta" required placeholder="hasta" />
			</div>
			<br>
			<div class="input-group">
			<span class="input-group-text">Lugar Desde</span>
			<select class="form-select" name="lugar_desde" required>
		   		<option value="">Elegir Lugar Inicial</option>
		   		<option th:each="lugar : ${lugares_desde}"
              			th:value="${lugar.idLugar}" 
              			th:text="${lugar.lugar + ' (cod.' + lugar.codigoPostal + ')'}"
              			th:selected="${#numbers.formatInteger(lugar.idLugar,3) == #numbers.formatInteger(param.lugar_desde,3)}"
              			/>
			</select>
			<span class="input-group-text" style="border-left: 0; border-right: 0;">Lugar Hasta</span>
			<select class="form-select" name="lugar_hasta" required>
		   		<option value="">Elegir Lugar Final</option>
		   		<option th:each="lugarHasta : ${lugares_hasta}"
		   				th:selected="${#numbers.formatInteger(lugarHasta.idLugar,3) == #numbers.formatInteger(param.lugar_hasta,3)}"
              			th:value="${lugarHasta.idLugar}" 
              			th:text="${lugarHasta.lugar + ' (cod.' + lugarHasta.codigoPostal + ')'}"
              			/>
			</select>
			</div>
			<br>
			<button type="submit" name="action" value="1" class="btn btn-primary">BUSCAR</button>
			<a href="/busqueda_permisos/activos_entre_fechas_y_lugares" class="btn btn-secondary">ELIMINAR FILTROS</a>
		</form>
	</div>
	<div th:if="${not#lists.isEmpty(permisosDiarios)}">
    	<h3 class="vertical-center23" th:text="${'Permisos Diarios Activos entre '+ param.desde +' y '+ param.hasta }"></h3><br>
		<table class="table table-hover vertical-center23 bg-light">
			<thead>
				<tr>
					<th>Persona</th>
					<th>DNI</th>
					<th>Fecha</th>
					<th>Motivo</th>
					<th>Desde</th>
					<th>Hasta</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="permisoDiario:${permisosDiarios}">
		  			<td th:text="${permisoDiario.pedido.nombrePersona + ' ' + permisoDiario.pedido.apellidoPersona}"></td>
		  			<td th:text="${permisoDiario.pedido.dniPersona}"></td>
		  			<td th:text="${permisoDiario.fecha}"></td>
		            <td th:text="${permisoDiario.motivo}"></td>
		           	<td th:text="${permisoDiario.desde.lugar}"></td>
		            <td th:text="${permisoDiario.hasta.lugar}"></td>
		            <td><a target="_blank" th:href="@{/permiso/ver_permiso_diario/}+${permisoDiario.idPermiso}" href="" role="button" class="btn btn-info">ver</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div th:if="${#lists.isEmpty(permisosDiarios) and (param.desde != null and param.hasta != null)}">
			<h3 class="vertical-center23" th:text="${'No hay Permisos Diarios Activos entre '+ param.desde  +' y '+ param.hasta}"></h3><br>
		</div>
		<div th:if="${not#lists.isEmpty(permisosPeriodos)}">
			<h3 class="vertical-center23" th:text="${'Permisos Per&iacute;odo Activos entre '+ param.desde  +' y '+ param.hasta}"></h3><br>
		<table class="table table-hover vertical-center23 bg-light">
			<thead>
				<tr>
					<th>Persona</th>
					<th>DNI</th>
					<th>Fecha Inicio</th>
					<th>cant. Dias</th>
					<th>Fecha Fin</th>
					<th>Rodado DOMINIO</th>
					<th>Rodado VEHICULO</th>					
					<th>Desde</th>
					<th>Hasta</th>
					<th>¿Son Vacaciones?</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="permisoPeriodo:${permisosPeriodos}">
		  			<td th:text="${permisoPeriodo.pedido.nombrePersona + ' ' + permisoPeriodo.pedido.apellidoPersona}"></td>
		  			<td th:text="${permisoPeriodo.pedido.dniPersona}"></td>
		  			<td th:text="${permisoPeriodo.fecha}"></td>
		  			<td th:text="${permisoPeriodo.cantDias}"></td>
		  			<td th:text="${permisoPeriodo.fecha.plusDays(permisoPeriodo.cantDias-1)}"></td>
		            <td th:text="${permisoPeriodo.rodado.dominio}"></td>
		            <td th:text="${permisoPeriodo.rodado.vehiculo}"></td>
		            <td th:text="${permisoPeriodo.desde.lugar}"></td>
		            <td th:text="${permisoPeriodo.hasta.lugar}"></td>
		            <td th:text="${(permisoPeriodo.vacaciones) ? 'Si' : 'No' }">
		            <td><a th:href="@{/permiso/ver_permiso_periodo/}+${permisoPeriodo.idPermiso}" href="" role="button" class="btn btn-info">ver</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div th:if="${#lists.isEmpty(permisosPeriodos) and (param.desde != null and param.hasta != null)}">
			<h3 class="vertical-center23" th:text="${'No hay Permisos Per&iacute;odo Activos entre '+ param.desde +' y '+ param.hasta}"></h3><br>
		</div>
</body>
</html>