   <div class="row" th:insert="fragments/header">
   </div>
   <br>
   <div class="container">
   	<div class="row">
	    <div class="col-8">
	        <h1>B&uacute;squeda Por Personas</h1>
	    </div>
    <hr>
	</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>idPersona</th>
			<th>DNI</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="persona:${personas}">
  			<td th:text="${persona.idPersona}"></td>
            <td th:text="${persona.dniPersona}"></td>
            <td th:text="${persona.nombrePersona}"></td>
            <td th:text="${persona.apellidoPersona}"></td>
			<td>
				<a th:href="@{/busqueda_permisos/persona/}+${persona.idPersona}" href="" role="button" class="btn btn-outline-primary" th:classappend="${session.SessionRol == 'AUDITOR'}? mostrar : d-none">VER PERMISOS ASOCIADOS</a>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>