   <div class="row" th:insert="fragments/header">
   </div>
   <br>
   <div class="container">
   	<div class="row">
	    <div class="col-8">
	        <h1>B&uacute;squeda Permiso Per&iacute;odo Por Rodados</h1>
	    </div>
    <hr>
	</div>
	<table th:if="${not#lists.isEmpty(permisosPeriodos)}" class="table table-hover vertical-center23 bg-light">
			<thead>
				<tr>
					<th>Persona</th>
					<th>DNI</th>
					<th>Fecha Inicio</th>
					<th>cant. Dias</th>
					<th>Fecha Fin</th>
					<th>Rodado Dominio</th>
					<th>Rodado Ve&iacute;culo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="permisoPeriodo:${permisosPeriodos}">
		  			<td th:text="${permisoPeriodo.pedido.nombrePersona + ' ' + permisoPeriodo.pedido.apellidoPersona}"></td>
		  			<td th:text="${permisoPeriodo.pedido.dniPersona}"></td>
		  			<td th:text="${permisoPeriodo.fecha}"></td>
		  			<td th:text="${permisoPeriodo.cantDias}"></td>
		  			<td th:text="${permisoPeriodo.fecha.plusDays(permisoPeriodo.cantDias-1)}"></td>
		            <td th:text="${permisoPeriodo.rodado.dominio}"></td>
		            <td th:text="${permisoPeriodo.rodado.vehiculo}"></td>
		            <td><a target="_blank" th:href="@{/permiso/ver_permiso_periodo/}+${permisoPeriodo.idPermiso}" href="" role="button" class="btn btn-info">ver</a></td>
				</tr>
			</tbody>
		</table>
		<p th:if="${#lists.isEmpty(permisosPeriodos)}">No hay permisos para este Rodado</p>
</body>
</html>