<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UnLa Permisos | Grupo 11</title>
    <!-- Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<!-- Favicons -->
	<link rel="icon" href="/images/favicon.ico">
    <style>
		html,body,.container-fluid,.container,.row,.row div {height:100%;;} /* full height for demo purposes */
		.vertical-center {
		  position: relative;
		  top: 50%;
		  transform: translateY(-50%);
		}
		.vertical-center23 {
		  position: relative;
		  top: 30%;
		  transform: translateY(-30%);
		}
		
		.img-circle {
		    border-radius: 50%;
		}
    </style>
  </head>
  <header th:insert="fragments/navbar_publico"></header>
 <body class="bg-primary">
  <div class="container">
  <div class="row">
  
    <div class="col-8 text-white mt-5">
    	<h1 class="h3 display-5 mt-5">Datos necesarios para el permiso</h1>
		<form method="post" th:action="@{/permiso/guardar/}"  role="form" autocomplete="off">
  		    <input type="hidden" th:field="${persona.idPersona}"/>
  		    <input type="date"  class="form-control" name="fecha" id="fecha" required />
		   	<label for="desde" class="form-label">Desde</label>
		    <select class="form-select" name="desde" required>
		   		<option value="">Elegir Lugar Inicial</option>
		   		<option th:each="lugar : ${desde}"
              			th:value="${lugar.idLugar}" 
              			th:text="${lugar.lugar + ' (cod.' + lugar.codigoPostal + ')'}"
              			/>
				</select>
		   	<label for="hasta" class="form-label">Hasta</label>
		    <select class="form-select" name="hasta" required>
		   		<option value="">Elegir Lugar Final</option>
		   		<option th:each="lugar : ${hasta}"
              			th:value="${lugar.idLugar}" 
              			th:text="${lugar.lugar + ' (cod.' + lugar.codigoPostal + ')'}"
              			/>
				</select>				
	    	<br>
	    	<div class="text-center">
	    		<button type="submit" name="action" value="permisoDiario" class="btn btn-secondary btn-lg">Permiso por un d&iacute;a</button>
				<button type="submit" name="action" value="permisoPeriodo" class="btn btn-warning btn-lg">Permiso Prolongado</button>
			</div>
	    	
		</form>
		</div>
	    <div class="d-none col-md-4 d-md-block bg-info">
	      <img src="https://1.bp.blogspot.com/-2XbNMce8bSo/WTl3xpGhnVI/AAAAAAAABeg/LwJhpLipjXAPsr2R_xJQ6mRnZSlV74DoQCLcB/s1600/machine1_2.gif" class="img-fluid vertical-center img-circle shadow p-3 mb-5" />
	    </div>
    </div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body></html>