<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UnLa Permisos - Error 403</title>
    <!-- Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<!-- Favicons -->
	<link rel="icon" href="/images/favicon.ico">
    <style>
		html,body,.container-fluid,.container,.row,.row div {height:100%;;} /* full height for demo purposes */
		.vertical-center {
		  position: relative;
		  top: 50%;
		  transform: translateY(-50%);
		}
		.vertical-center23 {
		  position: relative;
		  top: 30%;
		  transform: translateY(-30%);
		}
		
		.img-circle {
		    border-radius: 50%;
		}
    </style>
  </head>
 <body class="bg-primary">
 
<main>
  <div class="container">
  <div class="row text-white">
  
    <div class="col-8 text-white">
    	<div th:if="${not#lists.isEmpty(permisosDiarios)}">
    	<h3>Ya existen permisos activos para tu DNI</h3><br>
		<table class="table table-hover vertical-center23">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Motivo</th>
					<th>Ver</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="permisoDiario:${permisosDiarios}">
		  			<td th:text="${permisoDiario.fecha}"></td>
		            <td th:text="${permisoDiario.motivo}"></td>
		            <td><a th:href="@{/permiso/ver_permiso_diario/}+${permisoDiario.idPermiso}" href="" role="button" class="btn btn-light">ver</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div th:if="${#lists.isEmpty(permisosDiarios)}">
		<h1 class="h3 display-3 vertical-center23">TU DNI ya se encuentra registrado</h1>
		<h3 class="white-text vertical-center23">(sin permisos activos)</h3>
			<a class="vertical-center23 btn btn-secondary" th:href="@{/permiso/nuevo/}+${persona.idPersona}" href="">Sacar permiso Diario</a>
			<a class="vertical-center23 btn btn-secondary" th:href="@{/permiso/nuevo/}+${persona.idPersona}" href="">Sacar permiso para Vacaciones</a>
		</div>
    </div>
    <div class="d-none col-md-4 d-md-block bg-info">
      <img src="https://1.bp.blogspot.com/-2XbNMce8bSo/WTl3xpGhnVI/AAAAAAAABeg/LwJhpLipjXAPsr2R_xJQ6mRnZSlV74DoQCLcB/s1600/machine1_2.gif" class="img-fluid vertical-center img-circle shadow p-3 mb-5" />
    </div>
  </div>
</div>
</main>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body></html>