<div class="row" th:insert="fragments/header"></div><br>
   <div class="container">
   	<div class="row">
	    <div class="col-8">
	        <h1>ABM Rol</h1>
	    </div>
    <hr>
	</div>
<form class="form" method="post" th:action="@{/roles/guardar}" th:object="${rol}" role="form" autocomplete="off">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" name="role" th:value="${rol.role}" class="form-control" id="nombre" required>
  </div>
  <div class="text-center">
	<a href="/roles/listar" role="button" class="btn btn-secondary">Cancelar</a>
	<button type="submit" class="btn btn-primary">Guardar</button>
  </div> 
</form>

</div>