   <div class="row" th:insert="fragments/header">
   </div>
   <br>
   <div class="container">
   	<div class="row">
	    <div class="col-8">
	        <h1>Listado de Roles</h1>
	        
	    </div>
	    <div class="col-4">
	    	<a role="button" target="_blank" href="/roles/listar/?format=pdf" class="btn btn-primary" th:classappend="${session.SessionRol == 'AUDITOR'}? mostrar : d-none">Exportar PDF</a>
	    	<a role="button" href="/roles/nuevo" class="btn btn-primary" th:classappend="${session.SessionRol == 'ADMINISTRADOR'}? mostrar : d-none">Crear Rol</a>
	    </div>
    <hr>
	</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Rol</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="rol:${roles}">
  			<td th:text="${rol.role}"></td>
			<td>
				<a th:href="@{/roles/modificar/}+${rol.id}" href="" role="button" class="btn btn-outline-primary" th:classappend="${session.SessionRol == 'ADMINISTRADOR'}? mostrar : d-none">EDITAR</a>
				<a th:href="@{/roles/eliminar/}+${rol.id}" href="" role="button" class="btn btn-outline-danger" th:classappend="${session.SessionRol == 'ADMINISTRADOR'}? mostrar : d-none">BORRAR</a>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>