  <!doctype html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <title>UnLa Permisos 2021</title>
     <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/unlapermisos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="/bootstrap/js/bootstrap.min.js" ></script>
    <!-- Favicons -->
    <link rel="icon" href="/images/favicon.ico">
    </head>
    <body class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">UnLa Permisos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/entrar">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/roles/listar">Roles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/usuarios/listar">Listado</a></li>
            <li><a class="dropdown-item" href="/usuarios/nuevo">Nuevo Usuario</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            B&uacute;squedas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/busqueda_permisos/por_rodados">Perm. Per&iacute;odo por Rodado</a></li>
            <li><a class="dropdown-item" href="/busqueda_permisos/por_personas">Permisos por Personas</a></li>
          </ul>
        </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" th:text ="${'Hola, ' + #authentication.getPrincipal().getUsername() + '!'}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>