<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UnLa Permisos - Error 404</title>
    <!-- Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<!-- Favicons -->
	<link rel="icon" href="/images/favicon.ico">
	<meta name="theme-color" content="#ffc107">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
 <body class="bg-secondary">
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light shadow p-3 mb-5" >
    <div class="col-md-8 p-lg-8 mx-auto my-3 ">
	    <div class="col-2 mx-auto">
		    <img src="/images/Lost-01-512.png" class="img-fluid" />
    	</div>    
      <h1 class="display-4 fw-normal">P&aacute;gina no Encontrada</h1>
      <p class="lead fw-normal">La ruta donde ingresate no existe. Por favor sigue tu camino.</p>
      <a class="btn btn-outline-secondary" href="/">Volver</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</main>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body></html>